---
title: Welcome to Middleman
---

<div id="book-wrap">
  <div class="t">
    <div class="tc rel">
        <div class="book shadow" id="book">
          <div class="page papers"></div>
          <div class="page">
            <img src="https://s3.amazonaws.com/myfangate.com/iceninekills/cover.jpg">
            <div class="overlay"></div>
          </div>
          <div class="page">
            <img src="https://s3.amazonaws.com/myfangate.com/iceninekills/cover.jpg">
            <div class="overlay"></div>
          </div>
          <div class="page">
            <img src="https://s3.amazonaws.com/myfangate.com/iceninekills/cover.jpg">
            <div class="overlay"></div>
          </div>
          <div class="page">
            <img src="https://s3.amazonaws.com/myfangate.com/iceninekills/cover.jpg">
            <div class="overlay"></div>
          </div>
        </div>
    </div>
  </div>
</div>
